@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/* #FFFFFF */

* {
    font-family: 'Poiret One', cursive;
}

body {
    background: #F5F5F5;
}

h1 {
    color: #EBD8D8;
    font-size: 65px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-arrow {
    position: absolute;
    left: 22px;
    font-size: 45px;
    top: 13px;
}

.input-container {
    width: 550px;
    background: #FFFFFF;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 18px -8px black;
}
.todo-inp {
    background: white;
    width: 450px;
    height: 50px;
    font-size: 35px;
    padding-left: 5px;
    border: none;
}
.todo-inp:focus {
    outline: none;
}
.todo-inp::-webkit-input-placeholder {
    color: #E7E7E7;
}
